#root {
    display: grid ;
    grid-template-columns: 1fr 4fr ;
    grid-template-areas: "dashboard header"
    "dashboard main";
}

.header {
    grid-area: header;
    z-index: 10;
    position: fixed;
    width: 80%;
    right: 0;
}
.sidebar {
   
    grid-area: dashboard;
    z-index: 10;
    position: fixed;
    width: 20%;
}
main {
    grid-area: main;
}
.dashboard {
    
}